@page "/"
@attribute [Authorize]
@using TaskManagement.Shared.DTOs
@using TaskManagement.UI.Services
@inject ITaskService TaskService

<PageTitle>Tasks</PageTitle>

<div class="d-flex justify-content-between align-items-center">
    <h1>Task List</h1>
    <AuthorizeView Roles="Admin">
        <a href="/tasks/create" class="btn btn-primary">Create New Task</a>
    </AuthorizeView>
</div>


@if (_tasks == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
                <AuthorizeView Roles="Admin">
                    <th>Actions</th>
                </AuthorizeView>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in _tasks)
            {
                <tr>
                    <td>@task.Title</td>
                    <td>@task.Description</td>
                    <td>@task.Status</td>
                    <AuthorizeView Roles="Admin">
                        <td>
                            <a href="@($"tasks/edit/{task.Id}")" class="btn btn-secondary btn-sm">Edit</a>
                        </td>
                    </AuthorizeView>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<TaskDto> _tasks;

    protected override async Task OnInitializedAsync()
    {
        _tasks = await TaskService.GetAllTasks();
    }
}